.customInner {
  background-color: #efefe3;
  height: 88%;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  color:black;
}

.customOuter {
  margin-left: 7%;
  margin-right: 7%;
}

body {
  background-color: #030;
}

.logoImage {
  max-width:100%;
  padding: 5%;
}

.titleHeader {
  color:#4E8248;
  text-align: left;
  padding-bottom: 5%;
}
